import styles from "./{{ pascalCase name }}.module.css";
import { {{ pascalCase name }}Context } from "./{{ pascalCase name }}Context.ts";

const Global{{ pascalCase name }}CssSelector = "hop-{{ pascalCase name }}";

export interface {{ pascalCase name }}Props {
}

function {{ pascalCase name }}(props:{{ pascalCase name }}Props, ref: ForwardedRef<any>) {
    [props, ref] = useContextProps(props, ref, {{ pascalCase name }}Context);

    return (
        <div></div>
    );
}

/**
 * TODO: tagline
 *
 * [View Documentation](TODO)
 */
const _{{ pascalCase name }} = forwardRef<any, {{ pascalCase name }}Props>({{ pascalCase name }});
_{{ pascalCase name }}.displayName = "{{ pascalCase name }}";

export { _{{ pascalCase name }} as {{ pascalCase name }} };
